<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
		  type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		  requirePermission="false"/>
	</configSections>
	<connectionStrings configSource="Connection.config"/>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="RadiusR_Customer_Setup_Service.CustomerSetupService">
				<endpoint address="CustomerSetupService.svc" binding="wsHttpBinding" bindingConfiguration="MainBinding"
				  contract="RadiusR_Customer_Setup_Service.ICustomerSetupService"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="MainBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
					  maxNameTableCharCount="2147483647"/>
					<!--for https-->
					<!--<security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>-->
					<!--for http-->
					<security mode="None"/>
				</binding>
			</wsHttpBinding>
			<basicHttpsBinding>
				<binding name="Abone8mProfilDegisikligiServisSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="KullaniciAdiDogrulamaSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="ServiceAvailabilityCheckWSSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="TTAdresServisWSSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="XDSLTTOYSAboneHatSorgulaWSSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="TarifeSorgulamaSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="NDSLOperationManagerWSSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="NDSLTransferOperationsWSSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="XDSLFreezeWSSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="NakilYeniNumaraServisSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="BasvuruIptalEtmeSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="BasvuruDurumSorgulamaSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="DegisiklikBasvurusuAlSoapBinding" maxReceivedMessageSize="2147483647"/>
				<binding name="OloPortalMarsEndPointPortBinding" maxReceivedMessageSize="2147483647">
					<security mode="Transport">
						<transport clientCredentialType="Basic" realm="OLO Portal Web Services"/>
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</basicHttpsBinding>
		</bindings>
		<client>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/ServiceAvailabilityCheckWS" binding="basicHttpsBinding"
			  bindingConfiguration="ServiceAvailabilityCheckWSSoapBinding" contract="AvailabilityReference.ServiceAvailabilityCheckService"
			  name="ServiceAvailabilityCheckWS"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/TTAdresServisWS" binding="basicHttpsBinding"
			  bindingConfiguration="TTAdresServisWSSoapBinding" contract="AddressReference.TTAdresServis" name="TTAdresServisWS"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/XDSLTTOYSAboneHatSorgulaWS" binding="basicHttpsBinding"
			  bindingConfiguration="XDSLTTOYSAboneHatSorgulaWSSoapBinding" contract="TTOYSReference.XDSLTTOYSAboneHatSorgulaService"
			  name="XDSLTTOYSAboneHatSorgulaWS"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/TarifeSorgulama" binding="basicHttpsBinding"
			  bindingConfiguration="TarifeSorgulamaSoapBinding" contract="TariffQuery.TarifeSorgulama" name="TarifeSorgulama"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/NDSLOperationManagerWS" binding="basicHttpsBinding"
			  bindingConfiguration="NDSLOperationManagerWSSoapBinding" contract="NewApplicationReference.NDSLOperationManagerService" name="NDSLOperationManagerWS"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/BasvuruIptalEtme" binding="basicHttpsBinding"
			  bindingConfiguration="BasvuruIptalEtmeSoapBinding" contract="RegistrationCancellationReference.BasvuruIptal" name="BasvuruIptalEtme"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/BasvuruDurumSorgulama" binding="basicHttpsBinding"
			  bindingConfiguration="BasvuruDurumSorgulamaSoapBinding" contract="RegistrationTraceReference.BasvuruDurumSorgulama" name="BasvuruDurumSorgulama"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/DegisiklikBasvurusuAl" binding="basicHttpsBinding"
			  bindingConfiguration="DegisiklikBasvurusuAlSoapBinding" contract="CustomerChangeReference.DegisiklikBasvurusuAl" name="DegisiklikBasvurusuAl"/>
			<endpoint address="https://olo.turktelekom.com.tr/olo-webservice-pcom/1.93/oloPortalMarsService" binding="basicHttpsBinding"
			  bindingConfiguration="OloPortalMarsEndPointPortBinding" contract="OLOReference.OloPortalMarsEndPoint" name="OloPortalMarsEndPointPort"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/NDSLTransferOperationsWS" binding="basicHttpsBinding"
			  bindingConfiguration="NDSLTransferOperationsWSSoapBinding" contract="TransferReference.NDSLTransferService" name="NDSLTransferOperationsWS"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/NakilYeniNumaraServis" binding="basicHttpsBinding"
			  bindingConfiguration="NakilYeniNumaraServisSoapBinding" contract="TransferGetSubNoReference.NakilYeniNoBulServis" name="NakilYeniNumaraServis"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/XDSLFreezeWS" binding="basicHttpsBinding" bindingConfiguration="XDSLFreezeWSSoapBinding"
			  contract="FreezeReference.XDSLFreezeService" name="XDSLFreezeWS"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/KullaniciAdiDogrulama" binding="basicHttpsBinding"
			  bindingConfiguration="KullaniciAdiDogrulamaSoapBinding" contract="UsernameValidationReference.KullaniciAdiDogrulama" name="KullaniciAdiDogrulama"/>
			<endpoint address="https://xdsliss.turktelekom.com.tr/services/Abone8mProfilDegisikligiServis" binding="basicHttpsBinding"
			  bindingConfiguration="Abone8mProfilDegisikligiServisSoapBinding" contract="SpeedProfileStepService.Abone8mProfilDegisikligiServis"
			  name="Abone8mProfilDegisikligiServis"/>
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="false"/>
		<defaultDocument>
			<files>
				<add value="CustomerSetupService.svc"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>